
/*Carta*/
.carta {
    background-color: #9c591b;
    height: 100%;
  }
   .container-carta h3{
    color:#fff;
    font-size: 30px;
    font-weight: 600;
  }
  .container-carta h5,p{
    color: #fff;
  }
  