/*Contacto*/
.container-contacto {
    background-image: url(../img/vista-superior-rebanadas-pizza-salami.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .formulario {
    background-color: #d89d1d6b;
    width: 400px;
    margin: 20px;
    border-radius: 5px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 1fr 1fr 1fr 1fr 1px;
    grid-template-areas:
      "titulo titulo"
      "nomApell email"
      "tel      asunto"
      "mensaje  mensaje"
      "btn       btn";
  }
  .formulario h2:nth-child(1) {
    grid-area: titulo;
    color: white;
  }
  .formulario label:nth-child(2) {
    grid-area: nomApell;
  }
  .formulario label:nth-child(3) {
    grid-area: email;
  }
  .formulario label:nth-child(4) {
    grid-area: tel;
  }
  .formulario label:nth-child(5) {
    grid-area: asunto;
  }
  .formulario label:nth-child(6) {
    grid-area: mensaje;
  }
  .formulario button:nth-child(7) {
    grid-area: btn;
    background-color: #b36d12ee;
    border: 0;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    margin-top: 20px;
    font-family: "Quicksand", sans-serif;
    cursor: pointer;
  }
  .formulario > label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
  }
  .formulario > label > input,
  .formulario > label > textarea {
    background-color: transparent;
    color: #fff;
    border: 0;
    outline: none;
    border-bottom: 1px solid white;
  }
  .formulario > label > input:focus {
    color: white;
    font-family: "Quicksand", sans-serif;
  }
  .formulario > label > textarea {
    height: 50px;
  }
  
  /* Login-franquica*/
  
  .login-card {
    margin: 20px 0;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
  }
  .login-card > h2 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .login-form {
    width: 80%;
    margin: 0;
    display: grid;
    gap: 14px;
  }
  .login-form > a {
    color: #01050c;
    text-decoration: none;
  }
  .login-form > input,
  .login-form > button {
    background-color: #ffffff81;
    width: 100%;
    height: 40px;
    padding: 0;
    border-radius: 8px;
  }
  .login-form > input {
    border: 2px solid #ebebeb;
    color: #140a0a;
  }
  .login-form > button {
    width: 100%;
    height: 40px;
    background: #a8bad8;
    color: #f9f9f9;
    font-weight: 600;
    cursor: pointer;
  }