/*quienessomos*/
/*aplico  mixin*/
@mixin tamaños($widtn, $height) {
  width: $widtn;
  height: $height;
}
.container__QuienesSomos {
  @include tamaños(100%, 700px);
  background-image: url(../img/pizza-come-in-pizzeria.jpg);
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  .h2 {
    color: black;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  p {
    padding: 10px;
    color: $colorBancocontenido;
    font-size: 18px;
    font-weight: 600;
  }
}
