/*Sucursales*/
.container__Tarjeta {
  background-color: #f0790a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 600;
}
.container__Tarjeta h3 {
  font-size: 22px;
  color: #110801;
}
.container__Tarjeta p {
  font-size: 20px;
  color: #000205;
}
.tarjeta {
  width: 250px;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
}
.fa-location-dot {
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
}
.tarjeta__titulo {
  margin-bottom: 8px;
}

.tarjeta-info a {
  text-decoration: none;
}
.btn {
  height: 40px;
  width: 180px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  background-color: #f0790a;
  border: none;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: color 1s ease-in-out;
}

.btn:hover {
  color: #f0790a;
  transition: all 1s ease-in-out;
}
.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: all 1s ease-in-out;
}
.btn:hover::before {
  width: 100%;
  transition: all 1s ease-in-out;
}
/* sucursales fin*/
