@import "index";
@import "sucursales";
@import "quienessomos";
@import "contacto";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.nav-bar-container {
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  font-size: 0.7em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  .logo-navbar {
    width: 50%;
  }
  
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    li {
      margin-right: 1rem;
       & a:after {
        position: absolute;
        bottom: 7px;
        left: 0px;
        width: 100%;
        height: 4px;
        background-color: #f0790a;
        content: "";
        opacity: 0;
        transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
        transform: translateY(20px);
      }
      a {
        position: relative;
        color: #ffffff;
        text-decoration: none;
         &:hover:after {
          opacity: 1;
          transform: translateY(15px);
        }
      }
      
    }
  }
   li:last-child {
    background: #4ad295;
    padding: 0.25rem 0.75rem;
    border-radius: 0.2rem;
  }  
  
}
.fa-bars {
  font-size: 25px;
  color: red;
  display: none;
}

.nav-bar #check {
  display: none;
}


/*Inicio-footer*/
.footer-pie {
  width: 100%;
  background: #0a141d;
  .footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 20px 0px;
    .column-a h2 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 20px;
    }
    .column-a {
      color: #efefef;
      margin-bottom: 10px;
    }
    .column-Sociales a {
      display: inline-block;
      text-decoration: none;
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      margin-right: 10px;
      background-color: #0d2033;
      text-align: center;
      transition: all 300ms ease;
       &:hover {
        color: chocolate;
      }
    }
  }
  .footer-logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-container2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    small {
      font-size: 20px;
      color:#fff;
    }
  }
}

/*MEDIA QUERIES*/
/*TABLET*/
@media (max-width: 768px) {
  .footer-pie .footer-container {
    width: 70%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 20px 0px;
  }
}
/*MEDIA QUERIES*/
/*TABLET*/
@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }
  .fa-bars {
    display: flex;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }
  .nav-bar ul {
    display: block;
    position: fixed;
    top: 40px;
    left: -100%;
    background: #222222ab;
    width: 100%;
    height: 100vh;
    right: 0;
  }
  .nav-bar ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .nav-bar ul li:last-child {
    background: none;
    padding: 1rem;
  }
  #check:checked ~ ul {
    font-size: 2em;
    left: 0;
    transition: all 0.5s;
  }
  .nav-bar-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .logo-navbar {
    text-align: center;
  }
}

/*MEDIA QUERIES*/
/*TABLET*/
@media (max-width: 768px) {
  .headerIndex {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/pizza-pizza-rellena.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
  }
  .headerIndex-info h1{
    color: #ffffff;
    font-size: 54px;
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-image: url(../img/pizza-pizza-rellena.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
  }
}

/*MEDIA QUERIES*/
/*MOBIL*/
@media (max-width: 576px) {
  .headerIndex {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/pizza-pizza-rellena.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
  }
  .headerIndex-info h1{
    color: #ffffff;
    font-size: 38px;
  }
}

/*MEDIA QUERIES*/
/*MOBIL*/
@media (max-width: 320px) {
  .headerIndex {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/pizza-pizza-rellena.jpg);
    background-size: cover;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
  }
  .headerIndex-info h1{
    color: #ffffff;
    font-size: 22px;
  }
  .banner{
    background-color: rgba(5, 5, 5, 0.945);
    width: 320px;
    height: 180px;
  }
  .banner P{
    text-align: center;
    margin: 30px;
    font-size: 18px;
    font-weight: 800;
    color: chocolate;
  }
  .publicidad-Img {
    width: 320px;
    height: 200px;
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-image: url(../img/pizza-pizza-rellena.jpg);
    background-size: cover;
    width: 100%;
    height: 100px;
  }
  .button-Index {
    height: 40px;
    width: 180px;
  }
  
}
/*fin Index*/
/*MEDIA QUERIES*/
/*TABLET*/
@media (max-width: 768px) {
  .container__QuienesSomos {
    background-image: url(../img/pizza-come-in-pizzeria.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .parráfos__QuienesSomos h2{
    color: black;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .parráfos__QuienesSomos p{
    padding: 10px;
    color: #9c591b;
    font-size: 16px;
    font-weight: 600;
  }
}
@media (max-width: 576px) {
  .container__QuienesSomos {
    background-image: url(../img/pizza-come-in-pizzeria.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
  }

}


/*MOBIL*/
@media (max-width: 320px) {
  .container__QuienesSomos {
    background-image: url(../img/pizza-come-in-pizzeria.jpg);
    background-size:cover;
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
}


/*MEDIA QUERIES*/
/*MOBIL*/
@media (max-width: 576px) {
  .footer-pie .footer-container {
    width: 50%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 20px 0px;
  }
}
/*MEDIA QUERIES*/
/*MOBIL*/
@media (max-width: 320px) {
  footer-pie {
    width: 20%;
  }

  .footer-container {
    width: 10%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 20px 0px;
  }
  .logo-footer img{
    width: 80px;
  }
  
.footer-pie .footer-container .colum-a h2{
    font-size: 16px;
  }
}
