@import "index";
@import "sucursales";
@import "carta";
@import "quienessomos";
@import "contacto";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap");
/*Variables*/
$colorChocolate: #f0790a;
$colorBancocontenido: #fff;
$colorNegrocontenido: #000205;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.nav-bar-container {
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 800;
  .logo-navbar {
    width: 50%;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    li {
      margin-right: 1rem;
      & a:after {
        position: absolute;
        bottom: 7px;
        left: 0px;
        width: 100%;
        height: 4px;
        background-color: #f0790a;
        content: "";
        opacity: 0;
        transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
        transform: translateY(20px);
      }
      a {
        position: relative;
        color: #ffffff;
        text-decoration: none;
        &:hover:after {
          opacity: 1;
          transform: translateY(15px);
        }
      }
    }
  }
  li:last-child {
    background: #4ad295;
    padding: 0.25rem 0.75rem;
    border-radius: 0.2rem;
  }
}
.fa-bars {
  font-size: 25px;
  color: red;
  display: none;
}

.nav-bar #check {
  display: none;
}
header .d-item {
  height: 400px;
  .d-img {
    height: 100%;
    object-fit: cover;
  }
}
/*Inicio-footer*/
.footer-pie {
  width: 100%;
  background: #0a141d;
  .footer-container {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 20px 0px;
    text-align: center;
    .column-a h2 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 20px;
    }
    .column-a p {
      font-size: 18px;
    }
    .column-a {
      color: #efefef;
      margin-bottom: 10px;
    }
    .column-Sociales a {
      display: inline-block;
      text-decoration: none;
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      margin-right: 10px;
      text-align: center;
      transition: all 300ms ease;
      &:hover {
        color: chocolate;
      }
    }
  }
  .logo-footer {
    width: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-container2 {
    background-color: #0a1a2a;
    padding: 15px 0px;
    text-align: center;
    small {
      font-size: 15px;
      color: #fff;
    }
  }
}

/*MEDIA QUERIES*/
/*TABLET*/
@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }
  .fa-bars {
    display: flex;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }
  .nav-bar ul {
    display: block;
    position: absolute;
    top: 50px;
    left: -100%;
    background: #222222ab;
    width: 100%;
    height: 100vh;
    z-index: 100;
    right: 0;
  }
  .nav-bar ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .nav-bar ul li:last-child {
    background: none;
    padding: 1rem;
  }
  #check:checked ~ ul {
    font-size: 2em;
    left: 0;
    transition: all 0.5s;
  }
  .nav-bar-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .logo-navbar {
    text-align: center;
  }
}
@media (max-width: 576px) {
  header .d-item {
    height: 300px;
    header .d-img {
      height: 200px;
      object-fit: cover;
    }
  }
}
/*MEDIA QUERIES*/
/*MOBIL*/
@media (max-width: 320px) {
  header .d-item {
    height: 200px;
    header .d-img {
      height: 100%;
      object-fit: cover;
    }
  }
  main .banner {
    width: 320px;
    height: 300px;
  }
  main .banner P {
    text-align: center;
    margin: 30px;
    font-size: 18px;
  }
  main .gif {
    width: 320px;
    height: 250px;
  }
  section.links {
    background-image: url(../img/fondo_links1.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
  }
}
/*fin Index*/
/*MEDIA QUERIES*/
/*TABLET*/
@media (max-width: 768px) {
  .container__QuienesSomos {
    background-image: url(../img/pizza-come-in-pizzeria.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
  }
  .parráfos__QuienesSomos h2 {
    font-size: 22px;
  }
  .parráfos__QuienesSomos p {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .container__QuienesSomos {
    background-image: url(../img/pizza-come-in-pizzeria.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
  }
  .parráfos__QuienesSomos h2 {
    font-size: 22px;
  }
  .parráfos__QuienesSomos p {
    padding: 5px;
    font-size: 11px;
  }
}

/*MOBIL*/
@media (max-width: 320px) {
  .container__QuienesSomos {
    background-image: url(../img/pizza-come-in-pizzeria.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
  }
  .parráfos__QuienesSomos h2 {
    font-size: 16px;
  }
  .parráfos__QuienesSomos p {
    padding: 5px;
    margin: 0%;
    font-size: 12px;
  }
}

/*MEDIA QUERIES*/
/*MOBIL*/

@media (max-width: 320px) {
  form {
    max-width: 250px;
  }
  .login-card {
    margin: 0;
    width: 300px;
    padding: 0px;
    border-radius: 10px;
  }
}

/*MEDIA QUERIES*/
/*MOBIL*/
@media (max-width: 568px) {
  .footer-pie .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 10px 0px;
    justify-items: center;
    align-items: center;
  }
}
/*MEDIA QUERIES*/
/*MOBIL*/
@media (max-width: 320px) {
  .footer-pie .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 10px 0px;
    justify-items: center;
    align-items: center;
  }
}
