@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap");
.main-container {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-content: center;
  background-color: rgb(243, 213, 191);
}

main .gif {
  width: 500px;
  height: 500px;
}

main .banner {
  background-color: #222;
  width: 500px;
  height: 500px;
  text-align: center;
}
main .banner p {
  margin: 70px;
  font-size: 20px;
  font-weight: 800;
  color: chocolate;
}
main .banner .style p {
  font-family: "Cedarville Cursive", cursive;
  font-size: 35px;
}

section.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-image: url(../img/fondo_links1.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
}

.button-Index {
  height: 50px;
  width: 180px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  background-color: #f0790a;
  border: none;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: color 1s ease-in-out;
}

.button-Index:hover {
  color: #f0790a;
  transition: all 1s ease-in-out;
}

.button-Index::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: all 1s ease-in-out;
}

button:hover::before {
  width: 100%;
  transition: all 1s ease-in-out;
}

/*Sucursales*/
.container__Tarjeta {
  background-color: #f0790a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 600;
}

.container__Tarjeta h3 {
  font-size: 22px;
  color: #110801;
}

.container__Tarjeta p {
  font-size: 20px;
  color: #000205;
}

.tarjeta {
  width: 250px;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.fa-location-dot {
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
}

.tarjeta__titulo {
  margin-bottom: 8px;
}

.tarjeta-info a {
  text-decoration: none;
}

.btn {
  height: 40px;
  width: 180px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  background-color: #f0790a;
  border: none;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: color 1s ease-in-out;
}

.btn:hover {
  color: #f0790a;
  transition: all 1s ease-in-out;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: all 1s ease-in-out;
}

.btn:hover::before {
  width: 100%;
  transition: all 1s ease-in-out;
}

/* sucursales fin*/
/*Carta*/
main.carta {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px 40px;
}

.heading {
  background-color: #cb202d;
  color: #ffffff;
  margin-bottom: 30px;
  padding: 120px 0 30px 0;
  grid-column: 1/-1;
  text-align: center;
}

.heading > h1 {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.heading > h3 {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 5px;
}

.food-items {
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
  transition: all 400ms ease;
}

.food-items:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
}

.food-items img {
  position: relative;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.details {
  padding: 20px 10px;
  display: grid;
  grid-template-rows: auto 1fr 50px;
  grid-row-gap: 15px;
}

.details-sub {
  display: grid;
  grid-template-columns: auto auto;
}

.details-sub > h5 {
  font-weight: 600;
  font-size: 18px;
}

.price {
  text-align: right;
}

.details > p {
  color: #6f6f6f;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  align-self: stretch;
}

.details > button {
  background-color: #cb202d;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  width: 180px;
}

/*quienessomos*/
.container__QuienesSomos {
  background-image: url(../img/pizza-come-in-pizzeria.jpg);
  background-size: cover;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.parráfos__QuienesSomos h2 {
  color: black;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}

.parráfos__QuienesSomos p {
  padding: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

/*Contacto*/
.container-contacto {
  background-image: url(../img/17-minute\ zucchini\ and\ ricotta\ pizza.jpg);
  background-size: cover;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#botton {
  background: #31384a;
  color: #fff;
  padding: 20px;
}

#botton:hover {
  cursor: pointer;
}

/* Login-franquica*/
.login-card {
  margin: 20px 0;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
}

.login-card > h2 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.login-form {
  width: 80%;
  margin: 0;
  display: grid;
  gap: 14px;
}

.login-form > a {
  color: #f6f8fb;
  text-decoration: none;
}

.login-form > input,
.login-form > button {
  background-color: rgba(255, 255, 255, 0.5058823529);
  width: 100%;
  height: 40px;
  padding: 0;
  border-radius: 8px;
}

.login-form > input {
  border: 2px solid #8f0d0d;
  color: #e0d6d6;
}

.login-form > button {
  width: 100%;
  height: 40px;
  background: #a8bad8;
  color: #f9f9f9;
  font-weight: 600;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.nav-bar-container {
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  font-size: 0.7em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}
.nav-bar-container .logo-navbar {
  width: 50%;
}
.nav-bar-container ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-bar-container ul li {
  margin-right: 1rem;
}
.nav-bar-container ul li a:after {
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: #f0790a;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  transform: translateY(20px);
}
.nav-bar-container ul li a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}
.nav-bar-container ul li a:hover:after {
  opacity: 1;
  transform: translateY(15px);
}
.nav-bar-container li:last-child {
  background: #4ad295;
  padding: 0.25rem 0.75rem;
  border-radius: 0.2rem;
}

.fa-bars {
  font-size: 25px;
  color: red;
  display: none;
}

.nav-bar #check {
  display: none;
}

header .d-item {
  height: 400px;
}
header .d-item .d-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Inicio-footer*/
.footer-pie {
  width: 100%;
  background: #0a141d;
}
.footer-pie .footer-container {
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 20px 0px;
  text-align: center;
}
.footer-pie .footer-container .column-a h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer-pie .footer-container .column-a p {
  font-size: 18px;
}
.footer-pie .footer-container .column-a {
  color: #efefef;
  margin-bottom: 10px;
}
.footer-pie .footer-container .column-Sociales a {
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  margin-right: 10px;
  text-align: center;
  transition: all 300ms ease;
}
.footer-pie .footer-container .column-Sociales a:hover {
  color: chocolate;
}
.footer-pie .logo-footer {
  width: 150px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-pie .footer-container2 {
  background-color: #0a1a2a;
  padding: 15px 0px;
  text-align: center;
}
.footer-pie .footer-container2 small {
  font-size: 15px;
  color: #fff;
}

/*MEDIA QUERIES*/
/*TABLET*/
@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }
  .fa-bars {
    display: flex;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }
  .nav-bar ul {
    display: block;
    position: absolute;
    top: 50px;
    left: -100%;
    background: rgba(34, 34, 34, 0.6705882353);
    width: 100%;
    height: 100vh;
    z-index: 100;
    right: 0;
  }
  .nav-bar ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .nav-bar ul li:last-child {
    background: none;
    padding: 1rem;
  }
  #check:checked ~ ul {
    font-size: 2em;
    left: 0;
    transition: all 0.5s;
  }
  .nav-bar-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .logo-navbar {
    text-align: center;
  }
}
@media (max-width: 576px) {
  header .d-item {
    height: 500px;
  }
  header .d-item header .d-img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*MEDIA QUERIES*/
/*MOBIL*/
@media (max-width: 320px) {
  header .d-item {
    height: 200px;
  }
  header .d-item header .d-img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .banner {
    background-color: rgba(5, 5, 5, 0.945);
    width: 320px;
    height: 300px;
  }
  main .banner P {
    text-align: center;
    margin: 30px;
    font-size: 18px;
    font-weight: 800;
    color: chocolate;
  }
  main .gif {
    width: 320px;
    height: 300px;
  }
  section.links {
    background-image: url(../img/fondo_links1.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
  }
}
/*fin Index*/
/*MEDIA QUERIES*/
/*TABLET*/
@media (max-width: 768px) {
  .container__QuienesSomos {
    background-image: url(../img/pizza-come-in-pizzeria.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
  }
  .parráfos__QuienesSomos h2 {
    font-size: 22px;
  }
  .parráfos__QuienesSomos p {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .container__QuienesSomos {
    background-image: url(../img/pizza-come-in-pizzeria.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
  }
  .parráfos__QuienesSomos h2 {
    font-size: 22px;
  }
  .parráfos__QuienesSomos p {
    padding: 5px;
    font-size: 11px;
  }
}
/*MOBIL*/
@media (max-width: 320px) {
  .container__QuienesSomos {
    background-image: url(../img/pizza-come-in-pizzeria.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
  }
  .parráfos__QuienesSomos h2 {
    font-size: 16px;
  }
  .parráfos__QuienesSomos p {
    padding: 5px;
    margin: 0%;
    font-size: 12px;
  }
}
/*MEDIA QUERIES*/
/*MOBIL*/
@media (max-width: 320px) {
  form {
    width: 100%;
  }
  .login-card {
    margin: 0;
    width: 300px;
    padding: 0px;
    border-radius: 10px;
    color: #0a1a2a;
  }
}
/*MEDIA QUERIES*/
/*MOBIL*/
@media (max-width: 568px) {
  .footer-pie .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 10px 0px;
    justify-items: center;
    align-items: center;
  }
}
/*MEDIA QUERIES*/
/*MOBIL*/
@media (max-width: 320px) {
  .footer-pie .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 10px 0px;
    justify-items: center;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */